node_modules
dist
logs
coverage
test
.git
.gitignore
.dockerignore
.env
.env.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.idea/
.vscode/
docker-compose*
README.md
infra/
docs/
